* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #15161d;
}

/* HEADER */
.header {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 32px;
}

/* NAVBAR */
.navbar {
    width: 100%;
    height: 4vh;
    background-color: rgb(164, 206, 214);
    color: rgb(20, 4, 4);

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* HOME */
.home {
    width: 100%;
    height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 30px;
}

/* FOOTER */
.footer {
    width: 100%;
    height: 6vh;
    background-color: black;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
}